body{
  background-color: #646c7c;
  
}

.App{
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: rgba(89, 116, 121, 0.637);
  color: aliceblue;
}

.App-header {
  background-color: #282c34;
  color: white;
}

.datosg .about{
  text-align: center;
}
.about{
  
  text-align: left;
  border-radius: 9px;
  width: 200px;
  height: 50px;
  background-color: #8b58c7;
  color: rgb(77, 204, 236);
}
/*
.about:active{
  width: 90px;
  height: 50px;
  background-color: bisque;
  color: blue;
}*/

.about:hover{
  transition: 2s;
  color: rgba(98, 24, 236, 0.966);
  background-color: #6febe5ef;
}

.info{
  text-align: center;

}