.cont{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.cont:nth-of-type(3){
  flex: 2;
}
.cont button{
  margin:50px;
}

.conf{ 
  text-align: legth;
  flex-direction: column;
  background-color: rgb(194, 204, 196);
  height: 900px;
  width: 600px;
}
